/* Global style */
body {
    background-color: #088F8F;
    font-family: "Titillium Web", sans-serif;
    
}

header {
    text-align: center;
}

.control-center {
    text-align: center;
}

button {
    width: 150px;
    height: 40px;
    margin: 5px;
    font-family: "Titillium Web", sans-serif;
}

.control-btn {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}

#messages {
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
    color: orange;
}

.game-area {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    text-align: center;
}

#player-image {
    width: 75%;
    padding-bottom: 30px;

}

#cpu-image {
    width: 75%;
    padding-bottom: 30px;
    
}


#player-area {
    background-color: rgb(156, 13, 156);
    float: left;
    width: 45%;
    margin: 20px;
    padding-bottom: 40px;
}
#cpu-area {
    background-color: rgb(156, 13, 156);
    float: right;
    width: 45%;
    margin: 20px;
    padding-bottom: 40px;
}

footer {
    position: absolute;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    bottom: 0;
    
}